POSTGRES_USER={your_postgres_user}
POSTGRES_PASSWORD={your_postgres_password}
POSTGRES_DB={your_db_name}
POSTGRES_HOST={your_db_host}
POSTGRES_PORT={your_db_port}
DATABASE_URL={POSTGRES_HOST://POSTGRES_USER:POSTGRES_PASSWORD:POSTGRES_PORT/POSTGRES_DB}
BACKEND_PORT={your_backend_port_of_choice}
BACKEND_HOST=(your_backend_host_of_choice)

# Frontend environment variables
VITE_API_URL={your_api_url}
VITE_42_SECRET={your_42API_secret}
VITE_42_CLIENT_ID={your_42API_uid}
VITE_42_REDIRECT_URI={redirect_uri_that_you_provided_in_42API}