@import "tailwindcss";
@import "react-big-calendar/lib/css/react-big-calendar.css";

body {
  font-family: Inter, sans-serif;
  background: #f5f7fb;
  color: #0f172a;
}

/* react big calendar */

.rbc-calendar {
  background: white;
  border-radius: 24px;
  overflow: hidden;
}

.rbc-time-view {
  border: none !important;
}

.rbc-header {
  padding: 16px 0 !important;
  border-bottom: 1px solid #eef2f7 !important;
  font-size: 13px;
  font-weight: 600;
  color: #64748b;
  background: white;
}

.rbc-timeslot-group {
  min-height: 40px !important;
  border-bottom: 1px solid #f1f5f9 !important;
}

.rbc-time-slot {
  min-height: 20px;
  font-size: 12px;
  color: #94a3b8;
}

.rbc-day-slot .rbc-time-slot {
  border-top: 1px solid #f8fafc;
}

.rbc-event {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
}

.rbc-event-content {
  height: 100%;
}

.rbc-event-label {
  display: none !important;
}

.rbc-today {
  background: #fcfcff !important;
}

.rbc-day-bg + .rbc-day-bg,
.rbc-header + .rbc-header,
.rbc-time-header-content + .rbc-time-header-content,
.rbc-time-content > * + * > * {
  border-left: 1px solid #f1f5f9 !important;
}

.rbc-time-content {
  border-top: 1px solid #f1f5f9;
}

.rbc-time-gutter {
  background: white;
}

.rbc-current-time-indicator {
  background-color: #8b5cf6;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #d8dce7;
  border-radius: 999px;
}

/* responsive */

@media (max-width: 1024px) {
  .rbc-timeslot-group {
    min-height: 75px !important;
  }
}

@media (max-width: 768px) {
  .rbc-calendar {
    font-size: 12px;
  }

  .rbc-timeslot-group {
    min-height: 65px !important;
  }

  .rbc-toolbar {
    flex-direction: column;
    gap: 12px;
  }
}


/* -----event container */

.rbc-event {
  border: none !important;
  background: transparent !important;
  padding: 0 !important;
}

/* prevent huge stretch */

.rbc-event-content {
  height: 100%;
}

/* better event spacing */

.rbc-day-slot .rbc-event {
  min-height: unset !important;
}

/* clean event layout */

.rbc-event-label {
  display: none !important;
}